* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    font-family:sans-serif;
}

@font-face {
    font-family: 'Sans-Serif';
    src: url(../Font/Open_Sans/static/OpenSans-Medium.ttf);
}

/* Header */

header {
    position: fixed;
    z-index: 900;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}

.logo {
    margin: 20px;
}

.box-header-laterali {
    width: 60%;
 }

 .box-header-sx {
    text-align: left;
    margin-left: 10px;
 }

.box-header-dx {
    text-align: right;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

.link-header {
    cursor: pointer;
    color: black;
    margin: 20px;
}

a:hover {
    text-decoration: underline;
}

.blue-header {
    background-color: blue;
    color: white;
    padding: 8px;
    margin-right: 20px;
    border: none;
}

.blue {
    background-color: blue;
    color: white;
    padding: 8px;
    border: none;
    margin-top: 40px;
    margin-bottom: 
}

.button-link {
    color: white;
}

/* Jumbotron */

.jumbotron {
    background-color: rgb(136, 197, 247);
    height: 800px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 200px;
}

h1 {
    display: block;
    font-size: 90px;
    font-weight: 700;
}

h2 {
    font-size: 45px;
}

.container-jumbo {
    width: 67%;
    margin-top: 150px;
    text-align: left;
}

.sottocontainer-jumbo {
    display: flex;
}

.jumbo-colonna-sx {
    width: 30%;
    margin-top: 50px;
}

.jumbo-colonna-dx {
    width: 70%;
    margin-top: 50px;
}

.immagini {
    width: 100%;
    height: 100%;
}

.prova-gratuita {
    margin-bottom: 25px;
}

span {
    font-size:50px;
}

p {
    margin-bottom: 25px;
}

.annulla {
    margin-bottom: 50px;
}

/* sezioni centrali */

/* prima sezione */

.container-prima {
    text-align: left;
    width: 66%;
    padding-top: 50px;
}

.prima {
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
}

.checkbox-round {
    width: 1.6em;
    height: 1.6em;
    border: 2px solid lightgray;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    border: 5px solid rgb(0, 102, 255);
}

.label-checkbox { 
    margin-right: 50px;
}

.checkbox-container {
    margin-top: 50px;
    margin-bottom: 30px;
}

/* tabella prima sezione */

.sottocontainer-prima {
    display: flex;
    justify-content: space;
}

.colonna {
    width: 40%;
}

.sx {
    margin-right: 70px;
}

.sinistra {
    padding-bottom: 225px;
}

.destra {
    padding-bottom: 144px;
}

.dx {
    margin-left: 70px;
}

.etichetta-colonna {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenuto-colonna {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    padding-top: 50px;
    padding-right: 40px;
}

.gray-text {
    color: gray;
    margin-bottom: 50px;
}

h3 {
    font-size: 25px;
}

nav.etichetta {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.column-content-icon {
    padding-left: 0;
}

label {
    width: 100%;
    margin-left: 5px;
}

.bold {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.column-content-text {
    font-size: 15px;
    display: inline;
    margin-left: 0;
}

nav.colonne {
    margin-bottom: 20px;
}

.mini-container-colonne {
    display: flex;
    flex-direction: row;
}

.inline {
    margin-left: 5px;
}

.buy-now {
    color: blue;
    margin-left: 5px;
    text-decoration: none;
}

.checkbox-column:checked {
    border: none;
    color: rgb(0, 102, 255);
}

.kp {
    margin-bottom: 30px;
}

/* seconda sezione */

.seconda {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 200px;
}

.container-seconda {
    width: 66%;
    border: 1px solid gray;
}

.contenuto-seconda {
    display: flex;
}

.etichetta-colonna-seconda {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
}

/* terza sezione */

.terza {
    width: 100%;
}

.container-terza {
    width: 67%;
} 