* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    font-family:sans-serif;
}

@font-face {
    font-family: 'Sans-Serif';
    src: url(../Font/Open_Sans/static/OpenSans-Medium.ttf);
}

/* Header */

header {
    position: fixed;
    z-index: 900;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}

.logo {
    margin: 20px;
}

.box-header-laterali {
    width: 60%;
 }

 .box-header-sx {
    text-align: left;
    margin-left: 10px;
 }

.box-header-dx {
    text-align: right;
    margin-right: 10px;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    margin: 20px;
}

a:hover {
    text-decoration: underline;
}

.blue {
    background-color: blue;
    color: white;
    padding: 8px;
    margin-right: 20px;
    border: none;
}

.button-link {
    color: white;
}

/* Jumbotron */

.jumbotron {
    background-color: rgb(136, 197, 247);
    height: 800px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 200px;
}

h1 {
    display: block;
    font-size: 90px;
    font-weight: 700;
}

h2 {
    font-size: 45px;
}

.container-jumbo {
    width: 67%;
    margin-top: 150px;
    text-align: left;
}

.sottocontainer-prima {
    display: flex;
}

.jumbo-colonna-sx {
    width: 30%;
    margin-top: 50px;
}

.jumbo-colonna-dx {
    width: 70%;
    margin-top: 50px;
}

.immagini {
    width: 100%;
    height: 100%;
}

.prova-gratuita {
    margin-bottom: 25px;
}

span {
    font-size:50px;
}

p {
    margin-bottom: 25px;
}

.annulla {
    margin-bottom: 50px;
}

/* sezioni centrali */

/* prima sezione */

.container-prima {
    text-align: left;
    width: 66%;
    padding-top: 50px;
}

.prima {
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
}

.checkbox-round {
    width: 1.6em;
    height: 1.6em;
    border: 2px solid lightgray;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    border: 5px solid rgb(0, 102, 255);
}

label {
    margin-right: 50px;
}

.checkbox-container {
    margin-top: 50px;
    margin-bottom: 30px;
}

/* tabella prima sezione */

.etichetta-colonna {
    border: 1px solid gray;
}

.contenuto-colonna {
    border: 1px solid gray;
}